
:root {
  // base
  --font-family: Roboto, sans-serif;
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --main-color: #333;
  --descr-color: #858585;
  --accent: #cc4646;
  --light-color: #fff;
  --light-color-alpha: rgba(255, 255, 255, .5);
  --titanium-white: #e4e4e4;
  --snowflake: #f0f0f0;

}
