<section class="about-me">
	<div class="container">
		<h2 class="about-me__title">Hi there! My name is Oleksiy, and I just started to learn HTML, CSS and JS</h2>
		<p class="about-me__descr">I started create this page based on my current knowledge and skills, tried to use just native technologies of HTML, CSS and JS. But I continue to learn and improve my skills and after a while new features will appear here. The page will improve, as well as my skills and knowledge. </p>
		<p class="about-me__descr">I like to travel, so I spent most of my life working in the travel industry. However, it's time to move on!</p>
	</div>
</section>