<header class="header">
  <div class="container header__container">
	  <a href="#" class="logo">My Profile</a>
	  <nav class="nav">
		  <ul class="nav__list">
			  <li class="nav__item"><a href="#" class="nav__link active">Home</a></li>
			  <li class="nav__item"><a href="#" class="nav__link">About Me</a></li>
			  <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
			  <li class="nav__item"><a href="#" class="nav__link">Experience</a></li>
			  <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
			  <li class="nav__item"><a href="#" class="nav__link">Contact Me</a></li>
		  </ul>
	  </nav>
  </div>
</header>
