<section class="hero">
	<div class="container hero__container">
		<div class="slider-wrapper">
			<div class="hero__slide active">
				<h1 class="hero__title">Hrybach Oleksiy</h1>
				<p class="hero__descr">Front-End Developer</p>
			</div>
			<div class="hero__slide is-hidden">
				<h2 class="hero__subtitle ">Some Skills</h2>
				<p class="hero__descr">Skills Description</p>
			</div>
			<div class="hero__slide is-hidden">
				<h2 class="hero__subtitle ">Some Skills</h2>
				<p class="hero__descr">Skills Description</p>
			</div>
			<div class="hero__slide is-hidden">
				<h2 class="hero__subtitle">Some Skills</h2>
				<p class="hero__descr">Skills Description</p>
			</div>
			<div class="hero__bullets">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

	</div>
</section>