<section class="skills" id="skills">
	<div class="container">
		<h2 class="section-title skills__title">My Skills</h2>
		<div class="skills__wrapper">
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">HTML5</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">CSS3</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">JavaScript</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">Git</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">Gulp</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
			<div class="skills__item">
				<div class="skills__head">
					<i>Icon</i>
					<h3 class="skills__subtitle">SASS/SCSS</h3>
				</div>
				<p class="skills__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ullam.</p>
			</div>
		</div>


	</div>
</section>