.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 0;
  background-color: var(--accent);
  &__container {
    @include flex-all-sb
  }
  .logo {
    font-family: Pacifico, cursive;
    color: var(--light-color);
    font-size: 31px;
  }
  .nav {
    &__list {
      @include flex-all-center
    }
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__link {
      transition: color .2s ease-in-out;
      color: var(--light-color-alpha);
      text-transform: uppercase;
      font-size: 17px;
      &:hover, &.active {
        color: var(--light-color);
      }
    }
  }

}

