.hero {
  @include bg-cover;

  padding: 70px 0;
  position: relative;
  background-image: url("../images/bg-photo.jpg");
  background-color: #000;

  &::before {
    @include pseudo;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 662px;
  }
}

.slider-wrapper {
  position: relative;
  z-index: 1;
  max-width: 600px;

  .hero__slide{
    color: var(--light-color);

    .hero__title {
      font-size: 60px;
      margin-bottom: 15px;
    }

    .hero__descr {
      font-size: 40px;
    }
  }

  .hero__bullets {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;

    span {
      @include mr(10px);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color:  var(--light-color-alpha);
      cursor: pointer;

      &.active {
        background-color: var(--light-color);
      }
    }
  }
}

